/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}

h1{
  text-align: center;
}

li {
  padding: 5px 0;
  animation: fadein 5s;
  font-size: 0.9em;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  width: 40%;
}

.col-60 {
  background: #E84A5F;
}

h2{
  font-size: 1.2em;
}

#flecha{
  font-size: 50px;
}

.texto-centrado {
  text-align: center;
}
#juego {
  width: 600px;
  height: 600px; 

}

#imagen-objetivo{
  width: 200px;
  height: 200px;
}

.piezas div{
  width: 33.33%;
  height: 33.33%;  
  box-sizing: border-box;
  float: left;
  border: #000 solid 0.7px;
}
.piezas img{
  width :100%;
}


 #clearpieza{
   clear: both;
 }

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
